<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/cssMust")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/external")
</head>

@{
    Layout = null;
}
<script src="~/Scripts/jLinq-2.2.1.js"></script>
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/MessageBox/messageboxes.min.js"></script>
@model BISQUIZ_UI.Models.ForgotPasswordModel
@using System.Web.Mvc.Html
@using (Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        <br />
        <div class="container fill">
          
            <div class="panel-groupingBoder">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a class="collapsediv" data-toggle="collapse" href="#collapse2" style="color:white">
                            Welcome!Set Your New Password Here.
                        </a>
                    </div>
                </div>
                <br />

                <br />
                <div class="panel-body">
                    <br />
                    @*<div class="form-group form-horizontal">*@
                    <div class="row">
                        <div class="col-sm-1">
                            @*@Html.Label("Username:", new { @class = "required " })*@
                            <span style="font-weight:bold">Username</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control ", placeholder = "Enter Your Username" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            @*@Html.Label("Password:", new { @class = "required " })*@
                            <span style="font-weight:bold">Password</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control ", placeholder = "Enter Your New Password" })
                        </div>
                    </div>


                    <br />
                    <div class="row">
                        <div class="col-sm-1">
                            @*@Html.Label("New Password:", new { @class = "required " })*@
                            <span style="font-weight:bold">Confirm Password</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control ", placeholder = "Enter Your New Password" })
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group form-horizontal">
                                <br />
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success" id="btnSave">Save</button>
                                    <button type="button" class="btn btn-success" id="btnReset">Reset</button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </fieldset>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $("#btnReset").click(function() {
        ClearForm();
    });
    debugger;
    function ClearForm() {
    $("#Password").val(""),
     $("#NewPassword").val(""),
    $("#ConfirmPassword").val("")
                }
    debugger;
    $("#btnSave").click(function () {
        var details = JSON.stringify({
        UserName: $("#Username").val(),
        NewPassword: $("#NewPassword").val(),
        ConfirmPassword:$("#ConfirmPassword").val(),

        });
            $.ajax(
               
        {
            type: "POST", //HTTP POST Method
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            url: '/ForgotPassword/SaveForgotPasswordDetails', // Controller/action
            data: details,
            success: function (msg) {
                debugger;
                    if (msg.success)
                    {
                        //ShowAlert("success", msg.message);
                        window.location.href = '@Url.Action("Login", "Account")/'
                    }
                    else
                    {
                        debugger;
                        ShowAlert("warning", msg.message);
                    }
                },
            error: function(jqXhr, exception) {

                    ShowAlert("warning", "Something went wrong! please Contact to Administrator");
            }
            });
    });
    </script>
}

